{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.9.55/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap">
	<link rel="stylesheet" href="{% static 'core/plainacct.css' %}">
	<script src="{% static 'core/plainacct.js' %}" defer></script>
</head>
<body>

	<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<a class="navbar-item" href="{% url 'core_dashboard' %}">
				<h1 class="is-uppercase has-text-weight-bold">PlainAcct</h1>
			</a>

			{% if user.is_authenticated %}
			<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="appmenu">
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
				<span aria-hidden="true"></span>
			</a>
			{% endif %}
		</div>

		{% if user.is_authenticated and current_accounting_period %}
		<div id="appmenu" class="navbar-menu">
			<div class="navbar-start">
				<div class="navbar-item has-dropdown is-hoverable">
					<a class="navbar-link">
						<span class="icon"><i class="mdi mdi-database"></i></span>
						<span>{% translate "Accounting" context "app menu" %}</span>
					</a>
					<div class="navbar-dropdown">
						<a class="navbar-item {% if request.resolver_match.url_name == 'change_accounting_period' %}is-active{% endif %}" href="{% url 'change_accounting_period' %}">
							<span class="icon"><i class="mdi mdi-database-clock"></i></span>
							<span>{% translate "Change period" context "app menu" %}</span>
						</a>
						<hr class="navbar-divider">
						<a class="navbar-item {% if request.resolver_match.url_name == 'journal' %}is-active{% endif %}" href="{% url 'journal' %}">
							<span class="icon"><i class="mdi mdi-timeline-clock"></i></span>
							<span>{% translate "Journal" context "app menu" %}</span>
						</a>
						<a class="navbar-item {% if request.resolver_match.url_name == 'general_ledger' %}is-active{% endif %}" href="{% url 'general_ledger' %}">
							<span class="icon"><i class="mdi mdi-book-open-blank-variant"></i></span>
							<span>{% translate "General ledger" context "app menu" %}</span>
						</a>
						<a class="navbar-item {% if request.resolver_match.url_name == 'documents' %}is-active{% endif %}" href="{% url 'documents' %}">
							<span class="icon"><i class="mdi mdi-receipt"></i></span>
							<span>{% translate "Documents" context "app menu" %}</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

		{% if user.is_authenticated %}
		<div class="navbar-end">
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					<span class="icon"><i class="mdi mdi-account"></i></span>
					<span>{{ user.get_full_name }} ({{ user.username }})</span>
				</a>
				<div class="navbar-dropdown">
					<a class="navbar-item" href="{% url 'password_change' %}">
						<span class="icon"><i class="mdi mdi-form-textbox-password"></i></span>
						<span>{% translate "Change password" context "profile" %}</span>
					</a>
					<a class="navbar-item" href="{% url 'logout' %}">
						<span class="icon"><i class="mdi mdi-logout"></i></span>
						<span>{% translate "Log out" context "profile" %}</span>
					</a>
				</div>
			</div>
		</div>
		{% endif %}
	</nav>

	<section id="content" class="section">
		<div class="container">
			{% block content %}{% endblock %}
		</div>
	</section>
</body>
</html>
