{% extends "core/base.html" %}
{% load i18n %}

{% block title %}PlainAcct :: {% translate "Change period" context "app menu" %}{% endblock %}

{% block content %}

		<h2 class="title">{% translate "Change period" context "app menu" %}</h2>

		<div class="box">
			<form action="{% url 'change_accounting_period' %}" method="POST">
				{% csrf_token %}
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ form.accounting_period.id_for_label }}">{{ form.accounting_period.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control is-expanded">
								<div class="select is-fullwidth">
									{{ form.accounting_period }}
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label">
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<button class="button is-primary"><span class="icon"><i class="mdi mdi-check"></i></span>&emsp;{% translate "Change" context "general" %}</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

{% endblock %}
