{% extends "core/base.html" %}
{% load i18n %}

{% block title %}PlainAcct :: {% translate "Dashboard" context "app menu" %}{% endblock %}

{% block content %}

		<h2 class="title">{% translate "Dashboard" context "app menu" %}</h2>
		{% if current_accounting_period %}<h3 class="subtitle">{{ current_accounting_period }}</h3>{% endif %}

		{% if current_accounting_period %}
		{% else %}
		<div class="notification is-info">
			{% translate "There is no current accounting period. In order to start using PlainAcct, go to the admin interface and create one." context "app info" %}
		</div>
		{% endif %}

{% endblock %}
