{% extends "core/base.html" %}
{% load i18n %}

{% block title %}PlainAcct :: {% translate "Documents" context "app menu" %}{% endblock %}

{% block content %}

		<h2 class="title">{% translate "Documents" context "app menu" %}</h2>
		<h3 class="subtitle">{{ current_accounting_period }}</h3>

		<div id="filter" class="box">
			<form action="{% url 'documents' %}" method="get">
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ filter_form.document_type.id_for_label }}">{% translate "Document type" context "transaction field" %}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control is-expanded">
								<div class="select is-fullwidth">
									{{ filter_form.document_type }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ filter_form.start_date.id_for_label }}">{% translate "Dates range" context "transaction report" %}</label>
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">
								{{ filter_form.start_date }}
							</div>
						</div>
						<div class="field is-narrow">
							<div class="control">
								{{ filter_form.end_date }}
							</div>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label">
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<button class="button is-primary"><span class="icon"><i class="mdi mdi-filter"></i></span>&emsp;{% translate "Filter" context "general" %}</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="table-container">
			<table class="table is-fullwidth is-hoverable">
				<thead>
					<tr>
						<th>{% translate "Document type" context "transaction field" %}</th>
						<th>{% translate "Document number" context "transaction field" %}</th>
						<th>{% translate "Booking date(s)" context "documents report" %}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
					{% for document in documents %}
					<tr>
						<td>{{ document.document_type__abbreviation }}</td>
						<td>{{ document.document_number }}</td>
						<td>{% if document.min_date == document.max_date %}{{ document.min_date|date:"SHORT_DATE_FORMAT" }}{% else %}{{ document.min_date|date:"SHORT_DATE_FORMAT" }} - {{ document.max_date|date:"SHORT_DATE_FORMAT" }}{% endif %}</td>
						<td><a class="button is-primary" href="{% url 'document_detail' document_type_id=document.document_type document_number=document.document_number %}"><span class="icon" title="{% translate 'Show detail' context 'general' %}" aria-label="{% translate 'Show detail' context 'general' %}"><i class="mdi mdi-eye"></i></span></a></td>
					</tr>
					{% empty %}
					<tr>
						<td class="has-text-centered" colspan="4">{% translate "(There are no documents)" context "documents report" %}</td>
					</tr>
					{% endfor %}
				<tbody>
		</div>

		{% if is_paginated %}
		<nav class="pagination" role="navigation" aria-label="pagination">
			{% if page_obj.has_previous %}
			<a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}"><span class="icon"><i class="mdi mdi-arrow-left"></i></span>{% translate "Previous" context "navigation" %}</a>
			{% endif %}
			{% if page_obj.has_next %}
			<a class="pagination-next" href="?page={{ page_obj.next_page_number }}">{% translate "Next" context "navigation" %}<span class="icon"><i class="mdi mdi-arrow-right"></i></span></a>
			{% endif %}

			<ul class="pagination-list">
				{% for page_number in page_obj.paginator.page_range %}
				<li>
					<a class="pagination-link {% if page_number == page_obj.number %}is-current{% endif %}" href="?page={{ page_number }}" aria-label="{% translate 'Go to page' context 'navigation' %} {{ page_number }}" aria-current="page">{{ page_number }}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
		{% endif %}

{% endblock %}
