{% extends "core/base.html" %}
{% load i18n %}

{% block title %}PlainAcct :: {% translate "General ledger" context "app menu" %}{% endblock %}

{% block content %}

		<h2 class="title">{% translate "General ledger" context "app menu" %}</h2>
		<h3 class="subtitle">{{ current_accounting_period }}</h3>

		<div id="filter" class="box">
			<form action="{% url 'general_ledger' %}" method="get">
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ filter_form.account.id_for_label }}">{% translate "Account" context "transaction report" %}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control is-expanded">
								<div class="select is-fullwidth">
									{{ filter_form.account }}
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ filter_form.start_date.id_for_label }}">{% translate "Dates range" context "transaction report" %}</label>
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">
								{{ filter_form.start_date }}
							</div>
						</div>
						<div class="field is-narrow">
							<div class="control">
								{{ filter_form.end_date }}
							</div>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ filter_form.fulltext.id_for_label }}">{{ filter_form.fulltext.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control is-expanded">
								{{ filter_form.fulltext }}
							</div>
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label">
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<button class="button is-primary"><span class="icon"><i class="mdi mdi-filter"></i></span>&emsp;{% translate "Filter" context "general" %}</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="table-container">
			<table class="table is-fullwidth is-hoverable">
				<thead>
					<tr>
						<th class="has-text-right">{% translate "Sequence number" context "transaction field" %}</th>
						<th>{% translate "Booking date" context "transaction field" %}</th>
						<th>{% translate "Document" context "transaction report" %}</th>
						<th>{% translate "Description" context "transaction field" %}</th>
						<th class="has-text-right">{% translate "Debit amount" context "transaction report" %}</th>
						<th class="has-text-right">{% translate "Credit amount" context "transaction report" %}</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
					{% for entry in general_ledger_entries %}
					<tr>
						<td class="has-text-right">{{ entry.sequence_number|default_if_none:"" }}</td>
						<td>{{ entry.booking_date|date:"SHORT_DATE_FORMAT" }}</td>
						<td title="{{ entry.business_partner|default_if_none:'' }}">{{ entry.document_type.abbreviation }}.{{ entry.document_number }}</td>
						<td title="{{ entry.remark|default_if_none:'' }}">{{ entry.description }}</td>
						<td class="has-text-right">{{ entry.amount_debit|default:""|floatformat:"2g" }}</td>
						<td class="has-text-right">{{ entry.amount_credit|default:""|floatformat:"2g" }}</td>
					</tr>
					{% empty %}
					<tr>
						<td class="has-text-centered" colspan="6">{% translate "(There are no transactions)" context "transaction report" %}</td>
					</tr>
					{% endfor %}
				<tbody>
				<tfoot>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<th class="has-text-right">{% translate "Balance" context "transaction report" %}</th>
						{% if balance_debit or balance_credit %}
						<td class="has-text-right">{{ balance_debit|default:""|floatformat:"2g" }}</td>
						<td class="has-text-right">{{ balance_credit|default:""|floatformat:"2g" }}</td>
						{% else %}
						<td class="has-text-right">{{ 0|floatformat:"2g" }}</td>
						<td class="has-text-right">{{ 0|floatformat:"2g" }}</td>
						{% endif %}
					</tr>
				</tfoot>
		</div>

{% endblock %}
