{% extends "core/base.html" %}
{% load i18n %}

{% block title %}PlainAcct :: {% translate "Journal" context "app menu" %}{% endblock %}

{% block content %}

		<h2 class="title">{% translate "Journal" context "app menu" %}</h2>
		<h3 class="subtitle">{{ current_accounting_period }}</h3>

		<div id="toolbar" class="box">
			<div class="field is-horizontal">
				<div class="field-body">
					<div class="field">
						<div class="control">
							<a class="button is-primary" href="{% url 'transaction_create' %}"><span class="icon"><i class="mdi mdi-database-plus"></i></span>&emsp;{% translate "Create transaction" context "app menu" %}</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="filter" class="box">
			<form action="{% url 'journal' %}" method="get">
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ filter_form.start_date.id_for_label }}">{% translate "Dates range" context "transaction report" %}</label>
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">
								{{ filter_form.start_date }}
							</div>
						</div>
						<div class="field is-narrow">
							<div class="control">
								{{ filter_form.end_date }}
							</div>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ filter_form.fulltext.id_for_label }}">{{ filter_form.fulltext.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control is-expanded">
								{{ filter_form.fulltext }}
							</div>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label">
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<button class="button is-primary" type="submit"><span class="icon"><i class="mdi mdi-filter"></i></span>&emsp;{% translate "Filter" context "general" %}</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="table-container">
			<table class="table is-fullwidth is-hoverable">
				<thead>
					<tr>
						<th class="has-text-right">{% translate "Sequence number" context "transaction field" %}</th>
						<th>{% translate "Booking date" context "transaction field" %}</th>
						<th>{% translate "Document" context "transaction report" %}</th>
						<th>{% translate "Description" context "transaction field" %}</th>
						<th>{% translate "Debit account" context "transaction field" %}</th>
						<th>{% translate "Credit account" context "transaction field" %}</th>
						<th class="has-text-right">{% translate "Amount" context "transaction field" %}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for entry in journal_entries %}
					<tr>
						<td class="has-text-right">{{ entry.sequence_number|default_if_none:"" }}</td>
						<td>{{ entry.booking_date|date:"SHORT_DATE_FORMAT" }}</td>
						<td title="{{ entry.business_partner|default_if_none:'' }}">{{ entry.document_type.abbreviation }}.{{ entry.document_number }}</td>
						<td title="{{ entry.remark|default_if_none:'' }}">{{ entry.description }}</td>
						<td title="{{ entry.debit_account.title }}">{{ entry.debit_account.compound_number }}</td>
						<td title="{{ entry.credit_account.title }}">{{ entry.credit_account.compound_number }}</td>
						<td class="has-text-right">{{ entry.amount|floatformat:"2g" }}</td>
						<td><a class="button is-primary" href="{% url 'transaction_detail' pk=entry.pk %}"><span class="icon" title="{% translate 'Show detail' context 'general' %}" aria-label="{% translate 'Show detail' context 'general' %}"><i class="mdi mdi-eye"></i></span></a></td>
					</tr>
					{% empty %}
					<tr>
						<td class="has-text-centered" colspan="8">{% translate "(There are no transactions)" context "transaction report" %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		{% if is_paginated %}
		<nav class="pagination" role="navigation" aria-label="pagination">
			{% if page_obj.has_previous %}
			<a class="pagination-previous" href="?page={{ page_obj.previous_page_number }}"><span class="icon"><i class="mdi mdi-arrow-left"></i></span>{% translate "Previous" context "navigation" %}</a>
			{% endif %}
			{% if page_obj.has_next %}
			<a class="pagination-next" href="?page={{ page_obj.next_page_number }}">{% translate "Next" context "navigation" %}<span class="icon"><i class="mdi mdi-arrow-right"></i></span></a>
			{% endif %}

			<ul class="pagination-list">
				{% for page_number in page_obj.paginator.page_range %}
				<li>
					<a class="pagination-link {% if page_number == page_obj.number %}is-current{% endif %}" href="?page={{ page_number }}" aria-label="{% translate 'Go to page' context 'navigation' %} {{ page_number }}" aria-current="page">{{ page_number }}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
		{% endif %}

{% endblock %}
