{% extends "core/base.html" %}
{% load i18n %}

{% block title %}PlainAcct :: {% translate "Transaction" context "app menu" %}{% endblock %}

{% block content %}

		<h2 class="title">{% translate "Transaction" context "app menu" %}</h2>
		<h3 class="subtitle">{{ transaction.accounting_period }}</h3>

		<div class="box">
			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label class="label">{% translate "Sequence number" context "transaction field" %}</label>
				</div>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<input class="input" type="text" value="{{ transaction.sequence_number|default_if_none:'' }}" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label class="label">{% translate "Booking date" context "transaction field" %}</label>
				</div>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<input class="input" type="date" value="{{ transaction.booking_date|date:'c' }}" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label class="label">{% translate "Document" context "transaction report" %}</label>
				</div>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<input class="input" type="text" value="{{ transaction.document_type.abbreviation }}.{{ transaction.document_number }}" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label class="label">{% translate "Description" context "transaction field" %}</label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="{{ transaction.description }}" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label class="label">{% translate "Amount" context "transaction field" %}</label>
				</div>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<input class="input" type="text" value="{{ transaction.amount|floatformat:'2g' }}" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label class="label">{% translate "Debit account" context "transaction field" %}</label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="{{ transaction.debit_account }}" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label class="label">{% translate "Credit account" context "transaction field" %}</label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="{{ transaction.credit_account }}" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label class="label">{% translate "Business partner" context "transaction field" %}</label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="{{ transaction.business_partner|default_if_none:'' }}" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label is-narrow">
					<label class="label">{% translate "Tax-deductible expense" context "transaction field" %}</label>
				</div>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<input type="checkbox" value="{{ transaction.tax_deductible_expense }}" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label is-normal checkbox">
					<label class="label">{% translate "Remark" context "transaction field" %}</label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control is-expanded">
							<textarea class="textarea" rows="5" value="{{ transaction.remark|default_if_none:'' }}" disabled></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label is-normal">
					<label class="label">{% translate "Booked by" context "transaction field" %}</label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="{{ transaction.booked_by.get_full_name }}" disabled>
						</div>
					</div>
				</div>
			</div>

			<div class="field is-horizontal">
				<div class="field-label">
				</div>
				<div class="field-body">
					<div class="field is-narrow">
						<div class="control">
							<a class="button is-primary" onclick="window.history.go(-1); return false;"><span class="icon"><i class="mdi mdi-arrow-left"></i></span>&emsp;{% translate "Back" context "navigation" %}</a>
						</div>
					</div>
				</div>
			</div>
		</div>

{% endblock %}
