{% extends "core/base.html" %}
{% load i18n %}

{% block title %}PlainAcct :: {% translate "Create transaction" context "app menu" %}{% endblock %}

{% block content %}

		<h2 class="title">{% translate "Create transaction" context "app menu" %}</h2>
		<h3 class="subtitle">{{ current_accounting_period }}</h3>

		<div class="box">
			<form action="{% url 'transaction_create' %}" method="post" novalidate>
				{% csrf_token %}
				{{ form.accounting_period.as_hidden }}

				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ form.booking_date.id_for_label }}">{{ form.booking_date.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">
								{{ form.booking_date }}
							</div>
							{% if form.booking_date.errors %}
							{% for error in form.booking_date.errors %}
							<p class="help is-danger">
								{{ error }}
							</p>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ form.document_type.id_for_label }}">{% translate "Document" context "transaction report" %}</label>
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">
								<div class="select {% if form.document_type.errors %}is-danger{% endif %}">
									{{ form.document_type }}
								</div>
							</div>
							{% if form.document_type.errors %}
							{% for error in form.document_type.errors %}
							<p class="help is-danger">
								{{ error }}
							</p>
							{% endfor %}
							{% endif %}
						</div>
						<div class="field is-narrow">
							<div class="control">
								{{ form.document_number }}
							</div>
							{% if form.document_number.errors %}
							{% for error in form.document_number.errors %}
							<p class="help is-danger">
								{{ error }}
							</p>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ form.description.id_for_label }}">{{ form.description.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control is-expanded">
								{{ form.description }}
							</div>
							{% if form.description.errors %}
							{% for error in form.description.errors %}
							<p class="help is-danger">{{ error }}</p>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ form.amount.id_for_label }}">{{ form.amount.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">
								{{ form.amount }}
							</div>
							{% if form.amount.errors %}
							{% for error in form.amount.errors %}
							<p class="help is-danger">
								{{ error }}
							</p>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ form.debit_account.id_for_label }}">{{ form.debit_account.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control is-expanded">
								<div class="select is-fullwidth {% if form.debit_account.errors %}is-danger{% endif %}">
									{{ form.debit_account }}
								</div>
								{% if form.debit_account.errors %}
								{% for error in form.debit_account.errors %}
								<p class="help is-danger">
									{{ error }}
								</p>
								{% endfor %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ form.credit_account.id_for_label }}">{{ form.credit_account.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control is-expanded">
								<div class="select is-fullwidth {% if form.credit_account.errors %}is-danger{% endif %}">
									{{ form.credit_account }}
								</div>
							</div>
							{% if form.credit_account.errors %}
							{% for error in form.credit_account.errors %}
							<p class="help is-danger">
								{{ error }}
							</p>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ form.business_partner.id_for_label }}">{{ form.business_partner.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control is-expanded">
								{{ form.business_partner }}
							</div>
							{% if form.business_partner.errors %}
							{% for error in form.business_partner.errors %}
							<p class="help is-danger">
								{{ error }}
							</p>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-narrow">
						<label class="label" for="{{ form.tax_deductible_expense.id_for_label }}">{{ form.tax_deductible_expense.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">
								{{ form.tax_deductible_expense }}
							</div>
							{% if form.tax_deductible_expense.errors %}
							{% for error in form.tax_deductible_expense.errors %}
							<p class="help is-danger">
								{{ error }}
							</p>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal checkbox">
						<label class="label" for="{{ form.remark.id_for_label }}">{{ form.remark.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control is-expanded">
								{{ form.remark }}
							</div>
							{% if form.remark.errors %}
							{% for error in form.remark.errors %}
							<p class="help is-danger">
								{{ error }}
							</p>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>

				<div class="field is-horizontal">
					<div class="field-label">
					</div>
					<div class="field-body">
						<div class="field is-narrow">
							<div class="control">
								<button class="button is-primary" type="submit"><span class="icon"><i class="mdi mdi-check"></i></span>&emsp;{% translate "Create" context "create transaction" %}</button>
							</div>
						</div>
						<div class="field is-narrow">
							<div class="control">
								<a class="button" href="{% url 'journal' %}"><span class="icon"><i class="mdi mdi-close"></i></span>&emsp;{% translate "Cancel" context "general" %}</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

{% endblock %}
