body {
	font-family: "Fira Sans", sans-serif;
}

input[type="checkbox"]:focus {
	box-shadow: 0 0 0 0.2em rgb(0 209 178 / 25%);
	outline: none;
}

#filter {
	margin-bottom: 1.5rem;
}

.input:active, .input:focus, .is-active.input, .is-active.textarea, .is-focused.input, .is-focused.textarea,
.select select.is-active, .select select.is-focused, .select select:active, .select select:focus,
.textarea:active, .textarea:focus {
	border-color: #00d1b2;
	box-shadow: 0 0 0 0.125em rgb(0 209 178 / 25%);
}

.pagination-link.is-current {
	background-color: #00d1b2;
	border-color: #00d1b2;
}

.select:after {
	border-color: rgb(54 54 54 / 25%) !important;
}

.table td {
	vertical-align: middle;
}