{% extends "core/base.html" %}
{% load i18n %}

{% block title %}PlainAcct :: {% translate "Log in" context "profile" %}{% endblock %}

{% block content %}

		<h2 class="title">{% translate "Log in" context "profile" %}</h2>

		<div class="box">
			<form action="{% url 'login' %}" method="post" novalidate>
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}">
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ form.username.id_for_label }}">{{ form.username.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								{{ form.username }}
							</div>
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ form.password.id_for_label }}">{{ form.password.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								{{ form.password }}
							</div>
							{% if form.errors %}
							<p class="help is-danger">{% translate "Invalid username and/or password." context "profile" %}</p>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label">
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<button class="button is-primary" type="submit"><span class="icon"><i class="mdi mdi-login"></i></span>&emsp;{% translate "Log in" context "profile" %}</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

{% endblock %}
