{% extends "core/base.html" %}
{% load i18n %}

{% block title %}PlainAcct :: {% translate "Password changed" context "profile" %}{% endblock %}

{% block content %}

	<article class="message is-primary">
		<div class="message-header">
			{% translate "Password changed" context "profile" %}
		</div>
		<div class="message-body">
			{% translate "Your password has been changed." context "profile" %}
		</div>
	</article>

	<div class="has-text-centered">
		<a class="button is-primary" href="{% url 'core_dashboard' %}"><span class="icon"><i class="mdi mdi-monitor-dashboard"></i></span>&emsp;{% translate "Go to dashboard" context "navigation" %}</a>
	</div>

{% endblock %}
