{% extends "core/base.html" %}
{% load i18n %}

{% block title %}PlainAcct :: {% translate "Change password" context "profile" %}{% endblock %}

{% block content %}

		<h2 class="title">{% translate "Change password" context "profile" %}</h2>

		<div class="box">
			<form action="{% url 'password_change' %}" method="post" novalidate>
				{% csrf_token %}
				<input type="hidden" name="next" value="{{ next }}">
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ form.old_password.id_for_label }}">{{ form.old_password.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								{{ form.old_password }}
							</div>
							{% if form.old_password.errors %}
							{% for error in form.old_password.errors %}
							<p class="help is-danger">
								{{ error }}
							</p>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								{{ form.new_password1 }}
							</div>
							{% if form.new_password1.errors %}
							{% for error in form.new_password1.errors %}
							<p class="help is-danger">
								{{ error }}
							</p>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label is-normal">
						<label class="label" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.field.label }}</label>
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								{{ form.new_password2 }}
							</div>
							{% if form.new_password2.errors %}
							{% for error in form.new_password2.errors %}
							<p class="help is-danger">
								{{ error }}
							</p>
							{% endfor %}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="field is-horizontal">
					<div class="field-label">
					</div>
					<div class="field-body">
						<div class="field">
							<div class="control">
								<button class="button is-primary" type="submit"><span class="icon"><i class="mdi mdi-check"></i></span>&emsp;{% translate "Change password" context "profile" %}</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

{% endblock %}
